<!--
    <div class="embed-responsive embed-responsive-16by9" id="videoBG">
      <video class="embed-responsive-item" src="https://res.cloudinary.com/dmvgmogaf/video/upload/v1583198452/Pexels_Videos_1730395_jrjcpy.mp4" autoplay muted loop></video>
    </div> -->

        <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
          <div class="container">
          <h1>RIP<strong>io</strong>!</h1>
          <p>travell</p>
          <%= render 'shared/search' %>
        </div>
</div>
