  <div class="header">
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://res.cloudinary.com/dmvgmogaf/video/upload/v1583246230/Dry_Head_-_20277_yhae2o.mp4" type="video/mp4">
  </video>
<%= render 'shared/search' %>
</div>
