<div class="banner">
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" class="video" width="100%" height="1070px">
    <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
  </video>

    <div class="container">
    <h1>RIP<strong>io</strong>!</h1>
    <p>travell</p>
    <%= render 'shared/search'  %>
    </div>
</div>
