  <div class="header">
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://vod-progressive.akamaized.net/exp=1583243770~acl=%2A%2F1185129540.mp4%2A~hmac=443e4c40147959b9d50e54b971f91d16bf7dda6c3b70dd90a056cbe19c479457/vimeo-prod-skyfire-std-us/01/1667/12/308335606/1185129540.mp4
" type="video/mp4">
  </video>
  <div class="container h-100 ">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <div class="container">
         <!--  <h1><strong>RIPIO</strong></h1>
          <p>travell</p> -->
          <%= render 'shared/search' %>
          </div>
      </div>
    </div>
</div>
</div>
