  <div class="header">
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://vod-progressive.akamaized.net/exp=1583241389~acl=%2A%2F1675105878.mp4%2A~hmac=b17ee1de9ed3f0e7fe5e49c53c2af1df8403a1ac155a2c2ce6ab7e7577ecd51b/vimeo-prod-skyfire-std-us/01/3902/15/394513788/1675105878.mp4
" type="video/mp4">
  </video>
  <div class="container h-100 ">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <div class="search">
         <!--  <h1><strong>RIPIO</strong></h1>
          <p>travell</p> -->
          <%= render 'shared/search' %>
          </div>
      </div>
    </div>
</div>
</div>
