<a class="btn btn-ghost" href="#">Write a story</a>
<a class="btn btn-flat" href="#">Book now</a>
<a class="btn btn-gradient" href="#">Start now</a>
<a class="btn btn-sample" href="#">degrade</a>
<a class="btn btn-outline-secondary" href="#">gray</a>

