<div class="container">
  <div class="row">
    <div class="card" style="width: 100%;">
      <div class="card-trip-infos">
        <h5 class="card-title">
          <h2>Guide Title</h2></h5>
          <p>Guide Description</p>
          <p class="card-text">Description:</p>
        </div>
          <p class="card-text">
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
          <h2 class="card-trip-pricing">€99.99</h2>
    </div>
  </div>
</div>
