<!-- <div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card-trip">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-trip-infos">
          <div>
            <h2>Ukraine</h2>
            <p>Ukraine is a large country in Eastern Europe known for its Orthodox churches, Black Sea coastline and forested mountains.</p>
            <a class="btn btn-ghost" href="#">View Location</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 -->

<!-- new cards -->
<% @attractions.each do |attract| %>
  <%= link_to attraction_path(attract) do %>
<div class="card d-flex justify-content-sm-center flex-column">
  <img class="card-img-top" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%= attract.name %></h5>
      <p class="card-text"><%= attract.address %></p>
      <p class="card-text"><%= attract.description %></p>
  </div>
</div>
  <% end %>
  <% end %>
