  <div class="row min-width-card-guide">
    <div class="card">
      <div class="card-trip-infos">
        <h5 class="card-title pt-3">
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
          <h2>Tour Title </h2></h5>
          <p>Tour Description</p>
          <p class="card-text"></p>
        </div>
        <p class="card-text">

          <h2 class="card-trip-pricing">€99.99</h2>
        </div>
        <% if current_user.role == 'guide' %>
          <td><%= link_to "Add a tour", new_attraction_tour_path(@attraction), class: "btn btn-outline-secondary" %></td>
          <% end %>
      </div>

