<!-- <div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card-trip">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-trip-infos">
          <div>
            <h2>Ukraine</h2>
            <p>Ukraine is a large country in Eastern Europe known for its Orthodox churches, Black Sea coastline and forested mountains.</p>
            <a class="btn btn-ghost" href="#">View Location</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 -->

<div class="card d-flex justify-content-sm-center flex-column" style="width: 18rem; grid-template-columns: 1fr 1fr;">
  <img class="card-img-top" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title" style="color: black;">creap place</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
