<div class="container d-flex justify-content-center">

  <div class="card mb-3" style="max-width: 18rem;">
  <div class=""> <%= image_tag "respect.svg" %></div>
  <div class="card-body">
    <h5 class="card-title">Light card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>

<div class="card mb-3 mr-4 ml-4" style="max-width: 18rem;">
  <div class=""> <%= image_tag "respect.svg" %></div>
  <div class="card-body">
    <h5 class="card-title">Light card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>

<div class="card mb-3" style="max-width: 18rem;">
  <div class=""> <%= image_tag "respect (1).svg" %></div>
  <div class="card-body">
    <h5 class="card-title">Light card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</div>
