<h3 class="container mt-5">Traveling with Ripio</h3>

<div class="container d-flex justify-content-around" id="saferespect">
  <div class="row space-items w-100" id="cardsrespesct">
  <div class="cards mb-4 pr-5 pl-5">
    <div class="rounded d-block img-fluid" style="width: 50px; margin-left: 43px;"
    ><%= image_tag "Imagem3.svg" %></div>
    <div class="card-body" style="width: 230px;height: 250px;">
      <h5 class="card-title">SAFETY</h5>
      <p class="card-text texto">Some risks and dangers may be involved in some forms of dark tourism, but they can be kept to a minimum by travelling/behaving responsibly.</p>
    </div>
  </div>

  <div class="cards mb-4 pr-5 pl-5">
    <div class="rounded d-block img-fluid" style="width: 50px; margin-left: 43px;"> <%= image_tag "Imagem2.svg" %></div>
    <div class="card-body" style="width: 230px; height: 250px;">
      <h5 class="card-title">RESPECTFUL</h5>
      <p class="card-text">So PLEASE NOTE from the start: dark tourism, as understood on this site, does NOT include anything voyeuristic (like 'slum tourism').</p>
    </div>
  </div>

  <div class="cards mb-4 pr-5 pl-5">
    <div class="rounded d-block img-fluid" style="width: 50px; margin-left: 43px;"> <%= image_tag "Imagem1.svg" %></div>
    <div class="card-body" style="width: 230px; height: 250px;">
      <h5 class="card-title">MONEYBACK</h5>
      <p class="card-text">If you do not like the tour, we will refund you the full price before the end of the tour.</p>
    </div>
  </div>
</div>
</div>

<div class="mt-5"></div>
