<div class=footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <p><strong>RIP.IO</strong></p>
        <p>
          <a href="#">About</a>
        </p>
        <p>
          <a href="#">Terms</a>
        </p>
        <p>
          <a href="#">Privacy</a>
        </p>
      </div>
      <div class="col-sm-3">
        <p><strong>GUIDES</strong></p>
        <p>
          <a href="#">Take A Guide</a>
        </p>
        <p>
          <a href="#">Share A Guide</a>
        </p>
      </div>
      <div class="col-sm-3">
        <p><strong>CONNECT</strong></p>
        <p>
          <a href="#">Instagram</a>
        </p>
        <p>
          <a href="#">Email</a>
        </p>
      </div>
      <div class="col-sm-3">
        <a href="#">⬆ Back To The Top</a>
      </div>
    </div>
    <hr>
    <p>© 2020 RIP.IO</p>
  </div>
</div>
