<div class="formulario container col-md-4 card-pay">
  <div class="payment-card">
    <h1 class="text-center">Purchase of <%= @order.tour.name %> tour done successfully</h1>
  </div>
  <%= link_to "Home", root_path, class: "btn btn-secondary btn-block", style: "margin-top: 50px" %> <%= link_to "" %>
</div>
