<div class="formulario container col-md-4">
  <div class="payment-card">
    <h1 class="text-center">Purchase of <%= @order.tour.name %> tour done successfully</h1>
  </div>
<div class="formulario container col-md-4">
  <%= link_to "Home", root_path, class: "btn btn-primary d-flex justify-content-center" %> <%= link_to "" %>
</div>
</div>
