<h3>Be a guide</h3>
<p>Organize your own tour</p>
<p>Receive for guiding tourists around the darkest places around your city</p>

<p>Do you want to have a guide account?</p>

<div class="guide-button">
<td><%= link_to "Yes", update_to_guide_path, method: :patch, class: "btn btn-flat" %></td>
</div>

