<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <p><u>HOST AN EXPERIENCE ON RIP.IO</u></p>
        <br />
        <h1>Earn Money Taking People On Dark Tourism Experiences.</h1>
        <br />
        <button type="button" class="btn btn-light">Lets Go</button>
      </div>
      <div class="col">
      </div>
    </div>
  </div>
</section>

<br />
<br />
<br />

<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>What's An Experience?</h1>
        <br />
        <p> It’s an dark tourism experience that goes beyond typical tours, designed and led by local tour guides. Show off your local dark tourism hotspot by hosting an dark tourism experience.</p>
      </div>
    </div>
  </div>
</section>

<br />
<br />
<br />

<section>
  <div class="container">
    <h1>How To Get Started</h1>
    <div class="row">
      <div class="col-sm">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
          <div class="card-header">Step 1</div>
          <div class="card-body">
            <h5 class="card-title">Learn Our Quality Standards</h5>
            <p class="card-text">Make sure your experience meets our bar for expertise, insider access, and connection.</p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
          <div class="card-header">Step 2</div>
          <div class="card-body">
            <h5 class="card-title">Submit Your Experience</h5>
            <p class="card-text">Your page is how people find you. Make a great impression by highlighting your expertise.</p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
          <div class="card-header">Step 3</div>
          <div class="card-body">
            <h5 class="card-title">Start Hosting Your Experience</h5>
            <p class="card-text">As long as your experience meets the standards, you’re ready to start hosting.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<br />
<br />
<br />

<section>
  <div class="container">
    <div class="row">
      <div class="column">
        <h1>Frequently Asked Questions</h1>
        <br />
        <h5><strong>What’s the time commitment?</strong></h5>
        <p>You can host as often as you like—feel free to adjust your dates and times until you find what works best for you.</p>
        <br />
        <h5><strong>Do I need a business license?</strong></h5>
        <p>Depending on activities involved, certain experiences may require a business license. Make sure to check local laws in your area to determine which licenses may be required for your experience, especially if there is food, alcohol, or transportation involved.</p>
        <br />
        <h5><strong>Can I host with someone else?</strong></h5>
        <p>If you want to host with one other person, make sure their name is mentioned on your experience listing so that guests know who they’ll be with. They’ll also need to have a profile.</p>
        <br />
      </div>
    </div>
  </div>
</section>

<%= render 'shared/footer' %>
