<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <p>HOST AN EXPERIENCE ON RIP.IO</p>
        <br />
        <h1>Earn Money Taking People On Dark Tourism Experiences.</h1>
        <br />
        <button type="button" class="btn btn-light">Lets Go</button>
      </div>
      <div class="col">
      </div>
    </div>
  </div>
</section>

<br />
<br />
<br />

<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>What's An Experience?</h1>
        <br />
        <p> It’s an dark tourism experience that goes beyond typical tours, designed and led by local tour guides. Show off your local dark tourism hotspot by hosting an dark tourism experience.</p>
      </div>
    </div>
  </div>
</section>

<br />
<br />
<br />

<section>
  <div class="container">
    <h1>How To Get Started</h1>
    <div class="row">
      <div class="col-sm">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-title">Dark card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-title">Dark card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-title">Dark card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render 'shared/footer' %>
