<div class="formulario container col-md-4 card-pay">
  <div class="payment-card">
    <h1>Checkout summary</h1>
  </div>
  <div class="formulario container col-md-8 text-pay">
    <h3>Purchase of: <strong><%= @order.tour.name %></strong></h3>
    <h3>For: <strong><%= humanized_money_with_symbol @order.amount %></strong></h3>
  </div>
    <button id="pay" class="btn btn-success btn-block">Pay</button>
    <script src="https://js.stripe.com/v3/"></script>
    <script>
      const paymentButton = document.getElementById('pay');
      paymentButton.addEventListener('click', () => {
        const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
        stripe.redirectToCheckout({
          sessionId: '<%= @order.checkout_session_id %>'
        });
      });
    </script>

</div>
