#saferespect {
  border-top: 1px solid rgba(240, 240, 240, .5) !important;
  border-bottom: 1px solid rgba(240, 240, 240, .5)!important;
}

#cardsrespesct {
    margin-top: 50px;
}

.card-body p {
  width: 200px;

}


.card-body {
padding-left: -0px;
}
