#saferespect {
  border-top: 1px solid rgba(240, 240, 240, .5) !important;
  border-bottom: 1px solid rgba(240, 240, 240, .5)!important;
}

#cardsrespesct {
    margin-top: 50px;
}

#card-body-show .card-text p {
  width: 245px;
}


#card-body-show {
padding-left: -0px;
height: 50vh;
line-height: 25px;
}




