#saferespect {
  border-top: 1px solid rgba(240, 240, 240, .5) !important;
  border-bottom: 1px solid rgba(240, 240, 240, .5)!important;
}

#cardsrespesct {
    margin-top: 50px;
}

.card-body .card-text p {
  width: 245px;
}


.card-body {
padding-left: -0px;
display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
overflow: hidden;
}
