.card-img-top {
//   display: -webkit-box;
// -webkit-line-clamp: 3;
// -webkit-box-orient: vertical;
// overflow: hidden;
  img{
    height: 100%;
    object-fit: cover;
  }
}

.carousel-control-next {
    right: -110px;
}
.carousel-control-prev {
    left: -110px;
}
