.card {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 20px 20px 20px 20px;
  border: 20px solid rgba(0, 0, 0, 0.0);
  display: flex;
  //width: 288px;
  margin-bottom: 20px;
  margin-top: 40px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  transition: background 0.3s ease;

  &.first-card {
    margin-right: 10px;
  }

  &.last-card {
    margin-left: 10px;
  }

  &.center-card {
    margin-left: 10px;
    margin-right: 10px;
  }
}

#home-card:hover {
  background: #35374d;
}

.card-title {
  color: #636a7c;
}

.card-img-top {
  height: 306px;
  object-fit: cover;
}

.card-body{
    overflow: hidden;
    height: 200px;
    line-height: 25px;
    margin: 20px;
  }
