.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 14px;
  opacity: .7;
  margin: 0;
}



.card-text-tour {
  min-height: 25%;
}

.card-overflow{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &:hover{
    overflow:inherit;
    white-space: inherit;
    text-overflow: inherit;
  }
}
.card-trip .card-trip-infos {
  padding: 16px;
  // display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: -15px;
  top: -15px;
  width: 40px;
  height: 40px;
}

.btn {
  font-size: 14px;
}

.min-width-card{
  min-width: 85%;
  margin-right: 0;
}

#tour-btn {
  font-size: 20px;
  font-style: bold;
}
