.footer {
  background-color: #212A3C;
  box-sizing: border-box;
  color: #ffffff;
  display: block;
  font-size: 20px;
  padding: 40px 15px 20px;
  letter-spacing: 1px;
}

.space-items {
justify-content: space-evenly;
}
// .col-md-3 {
//   box-sizing: border-box;
//   float: left;
//   min-height: 1px;
//   padding-left: 15px;
//   padding-right: 15px;
//   position: relative;
//   width: 25%;
// }

a {
  background-color: transparent;
  box-sizing: border-box;
  color: #c8c8c8;
  font-size: 18px;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

hr {
  border-color: #fff;
  width: 100%;
  margin-left: 0;
}

.ripio2020  {

  margin-left: 35px;

}

#footer p {
  font-size: 20px;
  letter-spacing: 1px;
  // font-weight: 500;
}
