.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  position: absolute;
  width:100%;
  letter-spacing: 1px;
}
.navbar {
 background-image: rgba(255,255,255,0.2);
 z-index: 99;
 font-weight: bold;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-light .navbar-nav .nav-link{
  color: white;
  padding-right: 35px;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: rgba(245, 245, 245, 0.6);
}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: white;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active:hover > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active:hover {
  color: rgba(245, 245, 245, 0.6);
}

.dropdown-item:hover {
  background-color: #DBDBDB;
}

.navbar-lewagon .navbar-brand img {
  width: 55px;
}
 .navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.dropdown-menu {
    margin-top: 17px;
}

#title {
  font-size: 30px;
}
